
@import url('https://fonts.googleapis.com/css2?family=Cairo:wght@200..1000&display=swap');
:root{
  --primary-color:#2D1ED7 ;
  --sec-color: #696767;
  --white-color:#ffff;
  --black-color:black;
  --bg-gray-color : #E6E6E6;
  --bg-dark-gray-color : #575358;
  --bg-btn-dark-gray-color : #9D9D9D;
  --light-gray-color:#DDDDDD;
}

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none !important;
  scroll-behavior: smooth;
  list-style: none;
}



body{
  direction: rtl;
  font-family: "Cairo", sans-serif;
}


/* ================================= start header ======================= */
.mainheader{
  border-bottom: 2px solid #0000004d;
}
header{
  display: flex;
  padding: 10px 0;
  justify-content: space-between;
  flex-wrap: wrap;
  align-items: center;
  min-height: 90px;

}

header .logo span{
  font-weight: bold;
}


header .menu{
  display: flex;
  gap: 20px;
  margin: 0;
  padding-left: 0;
}
header .menu li{
  margin: 5px 0;
}

header .menu li a{
  color: var(--black-color);
  font-weight: 600;
  font-size: 16px;
}
header .menu li a.active{
  color: var(--primary-color);
  text-decoration: underline !important;
}
/* ================================= End header ======================= */

section{
  margin-top: 75px;
  padding: 100px;
}

@media screen and (max-width:500px) {
  section{
    padding: 20px;
  }
}


h1,h2,h3,h4,h5,h6{
  color: var(--primary-color);
}
.black{
  color: black !important;
}

.main-btn{
  color: white;
  background-color: var(--primary-color);
}
.main-btn:hover{
  background-color: var(--primary-color) !important;
  color: var(--white-color);
}

.btn-gray{
  background-color: var(--bg-btn-dark-gray-color);
  color: var(--black-color);
  border-radius: 8px;
  padding: 8px;
  margin: 3px;
  font-weight: bold;
}
.btn-gray:hover{
  background-color: var(--bg-btn-dark-gray-color);
  color: var(--black-color);
}

.bg-dark-gray{
  background-color: var(--bg-gray-color);
}

.section-header{
  display: flex;
  justify-content: space-between;
  margin-bottom: 30px;
}
.section-title{
  color: var(--black-color);
  font-weight: bold;
  font-size: 32px;
}
.section-header a{
  color: var(--black-color);
  font-size: 20px;
}

.single-service{

  padding: 0;
  border-radius: 9px;

  overflow: hidden;
}
.single-service img{
  width: 100%;
  height: 190px;
  max-width: 100%;
  display: block;
}
.single-service .serv-info{
  padding: 20px 15px;
  background-color: var(--white-color);
  border-bottom-left-radius: 8px;
  border-bottom-right-radius: 8px;
  display: flex;
  flex-direction: column;
  gap: 5px;
}

.single-service .serv-title{
  font-weight: bold;
  color: var(--black-color);
  background-color: var(--white-color);
  padding: 5px 0;
}

.single-service .serv-des{
  font-size: 14px;
}


/* ========================================== Start Footer ====================================== */
footer{
  padding: 50px 0 0 0;
  background-color: var(--bg-gray-color);
}
.footer-menu li{
  margin: 10px 0;

}
.footer-menu li a{
  color:var(--black-color);
  font-weight: bold;

}
.footer-foot{
  display: flex;
  justify-content: center;
  align-items: center;
}
.foot-text{
  text-align: center;
  width: 100%;
  border-top-left-radius: 8px;
  border-top-right-radius: 8px;
  background-color: white;
  padding-top: 5px;
}
/* ========================================== Endd Footer ======================================= */


label{
  margin: 5px 0 ;
}

input,
select{
  width: 100%;
  height: 52px;
  border: 1px solid;
  border-color: var(--bg-btn-dark-gray-color);
  outline: none;
  border-radius: 8px;
  color: var(--sec-color);
  padding: 10px;
}

.arch-btn{
  color: black;
  padding: 5px;
  border: 1px solid var(--bg-btn-dark-gray-color);
  width: fit-content;
  border-radius: 8px;
  font-weight: bold;
}


.section-gap{
  margin: 50px 0;
}
.About-us h2{
  color: black;
}

section.About-us{
  margin-top: 0;
}
.About-us p{
  line-height: 1.6;
  font-size: 16px;
  font-weight: 600;
}

.table th, .table td {
  vertical-align: middle;
}


.thank-you-page h2 {
  font-size: 32px;
}

.thank-you-page p.lead {
  font-size: 18px;
}
